name: Publish to PyPI
on:
  release:
    types: [published]
  workflow_dispatch:

  schedule:
    - cron: "0 0 * * *"
jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/regdown
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build

      - name: Build the package
        id: build
        run: |
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
